!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{:'http-equiv' => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %meta{name: "generator", content: "Helios #{Helios::VERSION}"}
    %title Helios
    %link{rel: "license", href: "http://opensource.org/licenses/MIT", :title => "MIT License"}
    %link{rel: "shortcut icon", href: "data:image/x-icon;,", type: "image/x-icon"}
    = css :application

  %body{role: 'application', data: {version: Helios::VERSION}}
    %header{role: 'banner'}
      %h1#logo
        %a{href: ''}
          %img{src: 'images/helios.svg'}

      %nav{role: 'navigation'}

    %div{role: 'main'}

    = js :application
